<div class="container">

<md-card>
  <md-card-title>
    <md-input type="text" style="width: 100%" placeholder="Поиск пациентов">
      <span md-prefix style="width: 1px;"><md-icon class="md-24">search</md-icon></span>
    </md-input>
  </md-card-title>

  <table class="align-td-left md-data-table" style="width: 100%;">
    <thead>
      <tr>
        <th>Имя</th>
        <th>Город</th>
        <th>Врач</th>
        <th>Дата</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Васильева Василина Васильевна</td>
        <td>Новосибирск</td>
        <td>Гордон Гордон Уэллс</td>
        <td>14.12.2016</td>
      </tr>
      <tr>
        <td>Васильева Василина Васильевна</td>
        <td>Новосибирск</td>
        <td>Гордон Гордон Уэллс</td>
        <td>14.12.2016</td>
      </tr>
      <tr>
        <td>Васильева Василина Васильевна</td>
        <td>Новосибирск</td>
        <td>Гордон Гордон Уэллс</td>
        <td>14.12.2016</td>
      </tr>
      <tr>
        <td>Васильева Василина Васильевна</td>
        <td>Новосибирск</td>
        <td>Гордон Гордон Уэллс</td>
        <td>14.12.2016</td>
      </tr>
      <tr>
        <td>Васильева Василина Васильевна</td>
        <td>Новосибирск</td>
        <td>Гордон Гордон Уэллс</td>
        <td>14.12.2016</td>
      </tr>
    </tbody>
  </table>
</md-card>

</div>

<div style="position: fixed; right: 24px; bottom: 24px;">
  <button md-fab color="accent" routerLink="/add-patient"><md-icon class="md-24" color="white">add</md-icon></button>
  <div style="margin-top: 16px;"></div>
  <button md-fab color="primary"><md-icon class="md-24" color="white">import_export</md-icon></button>
</div>
