<div class="background"></div>

<div class="container">

  <md-card>
    <h1>Добавление пациента</h1>

    <h2>Формальные данные</h2>
    <p>
      <md-input [(ngModel)]="realname" placeholder="Имя пациента (ФИО)" style="width: 100%;"></md-input>
    </p>
    <p>
      <md-input type="date" [(ngModel)]="birthday" placeholder="Дата рождения (ДД.ММ.ГГГГ)" style="width: 100%;">
        <span md-suffix>(42 года)</span>
      </md-input>
    </p>
    <div style="display: table; width: 100%">
      <md-input style="display: table-cell; width: 33%" type="number" [(ngModel)]="weight" placeholder="Вес (кг.)"></md-input>
      <md-input style="display: table-cell; width: 33%" type="number" [(ngModel)]="height" placeholder="Рост (см.)"></md-input>
      <md-input style="display: table-cell; width: 34%" disabled>
        <span md-suffix>{{imt}}</span>
      </md-input>
    </div>

    <div style="margin-top: 1rem;">
      <h4>Уровень активности:</h4>
      <md-radio-group [(ngModel)]="activityLevel">
        <md-radio-button value="1">низкий</md-radio-button>
        <md-radio-button value="2">средний</md-radio-button>
        <md-radio-button value="3">высокий</md-radio-button>
      </md-radio-group>
    </div>

    <h2>Гинекологический анамнез</h2>

    <div style="display: table; width: 100%">
      <md-input style="display: table-cell; width: 34%" type="number" [(ngModel)]="pregnancies" placeholder="Беременности"></md-input>
      <md-input style="display: table-cell; width: 34%" type="number" [(ngModel)]="labours" placeholder="Роды"></md-input>
      <md-input style="display: table-cell; width: 32%" type="number" [(ngModel)]="abortions" placeholder="Медицинские аборты"></md-input>
    </div>

    <h4>Длительность применения КОК</h4>
    <md-radio-group [(ngModel)]="KOK">
      <md-radio-button value="0">Не принимает</md-radio-button>
      <md-radio-button value="1">До 5 лет</md-radio-button>
      <md-radio-button value="2">5-10 лет</md-radio-button>
      <md-radio-button value="3">Более 10 лет</md-radio-button>
    </md-radio-group>

    <h4>Длительность применения ГЗТ</h4>
    <md-radio-group [(ngModel)]="GZT">
      <md-radio-button value="0">Не принимает</md-radio-button>
      <md-radio-button value="1">До 5 лет</md-radio-button>
      <md-radio-button value="2">5-10 лет</md-radio-button>
      <md-radio-button value="3">Более 10 лет</md-radio-button>
    </md-radio-group>

    <h2>Фармакотерапия</h2>
    <p>будет реализовано позднее</p>

    <h2>Сосудистые проблемы</h2>
    <p>будет реализовано позднее</p>

    <h2>Гемостаз</h2>
    <p>будет реализовано позднее</p>


    <button md-fab color="primary" style="position: absolute; right: 0; bottom: 0; transform: translate(50%, 50%)"><md-icon class="md-24" color="white">save</md-icon></button>
  </md-card>
</div>
